<html>
    <head>
        <title>공기질 측정</title>
    </head>
    <body>
        <h1>공기질 측정</h1>
        <h2>공기질 종합상태</h2>
        <p>상태: {{total_status}}</p>
        <p>설명: {{status_info}}</p>
        <h2>공기질 상태</h2>
        <p>온도: {{temperature}}</p>
        <p>습도: {{humidity}}</p>
        <p>먼지 농도(mg/m3): {{dust}}</p>
        <p>이산화탄소 농도(CO2 ppm): {{gas}}</p>
        <h2>공기질 측정 로그</h2>
        <table border="1">
            <tr>
              <th>시각</th>
              <th>측정기(장치 고유 아이디)</th>
              <th>온도</th>
              <th>습도</th>
              <th>먼지 농도(mg/m3)</th>
              <th>이산화탄소 농도(CO2 ppm)</th>
            </tr>
            {% for post in posts %}
            <tr>
                <th> {{ post.created_date }}</th>
              <th> {{ post.device }}</th>
              <th> {{ post.temperature }}</th>
              <th> {{ post.humidity }}</th>
              <th> {{ post.dust }}</th>
              <th> {{ post.gas }}</th>
            </tr> 
            {% endfor %}
        </table>
    </body>
</html>